
<div class="container">

  <div class="home-header"> 
    <img src="img/fd_logo.png" alt="" class="logo-home">
  </div>

  <ul class="home__ul">
    <li class="search__title">Search for a Movie</li> 
    <li class="search">
      <form action="/movie" method="get"><input name="movie_title" type="text" placeholder="Search for a movie"><button><i class="fas fa-search"></i></button>
      </form>    
    </li>
  </ul>
  
</div>